.indexArticle {
  max-height: 250px;
  overflow: hidden;
}

.indexArticle img {
  display: none;
}

.articleContent img {
  display: block;
  margin: 0 auto;
  width: 400px;
}

.articleContent .small {
  width: 100%;
  max-width: 250px;
}

.articleContent .large {
  width: 100%;
  max-width: 600px;
}
